<div class="search">
  <form class="search__form">
    <div class="search__main">
      <a href="#" class="material-symbols-outlined search__button">search</a>
      <input type="text" class="search__input" placeholder="Wyszukaj" />
    </div>
    <button class="search__close">Anuluj</button>
  </form>
  <div class="search__results"></div>
</div>
<nav class="menu">
  <div class="menu__panel">
    <div class="menu__header">
      <h2 class="menu__title">Menu</h2>
      <span class="material-symbols-outlined menu__icon--close"> close </span>
    </div>
    <ul class="menu__list">
      <li class="list">
        <div class="list__unwind">
          <span class="list__category">Filmy</span
          ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
        </div>
        <div class="menu__panel menu__panel--sub">
          <div class="menu__header">
            <div class="menu__back">
              <span class="material-symbols-outlined menu__icon--back"> arrow_back </span>
              <h2 class="menu__title">Filmy</h2>
            </div>
            <span class="material-symbols-outlined menu__icon--close"> close </span>
          </div>
          <ul class="menu__list">
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Filmowe premiery</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Baza filmów</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Baza aktorów</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="list">
        <div class="list__unwind">
          <span class="list__category">Seriale</span
          ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
        </div>
        <div class="menu__panel menu__panel--sub">
          <div class="menu__header">
            <div class="menu__back">
              <span class="material-symbols-outlined menu__icon--back"> arrow_back </span>
              <h2 class="menu__title">Seriale</h2>
            </div>
            <span class="material-symbols-outlined menu__icon--close"> close </span>
          </div>
          <ul class="menu__list">
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Serialowe premiery</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Baza seriali</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="list">
        <div class="list__unwind">
          <span class="list__category">Artykuły</span
          ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
        </div>
        <div class="menu__panel menu__panel--sub">
          <div class="menu__header">
            <div class="menu__back">
              <span class="material-symbols-outlined menu__icon--back"> arrow_back </span>
              <h2 class="menu__title">Artykuły</h2>
            </div>
          </div>
          <ul class="menu__list">
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Najnowsze wieści</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Plotki</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
            <li class="list">
              <div class="list__unwind">
                <span class="list__category">Felietony</span
                ><span class="material-symbols-outlined menu__icon--next"> arrow_forward </span>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
