@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,700;1,900&display=swap");
html[data-theme=dark] {
  --color-background: #0f0f0f;
  --color-text: white;
  --color-textRGB: 255, 255, 255;
  --color-backgroundRGB: 15, 15, 15;
}

html[data-theme=light] {
  --color-background: white;
  --color-text: #0f0f0f;
  --color-backgroundrRGB: 255, 255, 255;
  --color-textRGB: 15, 15, 15;
}

.account {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  height: 100%;
  width: 100%;
  right: 0;
  transform: translate(100%);
  z-index: 5;
  transition: all 0.4s;
}
.account .account__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 25px;
}
.account .account__header .account__icon--close {
  font-size: 45px;
  transition: color 0.2s;
  cursor: pointer;
}
.account .account__header .account__icon--close:hover {
  color: #9e5df5;
}
.account .account__main {
  position: relative;
}
.account .account__main .account__background {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.account .account__main .account__info {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  width: 100%;
  height: 100%;
}
.account .account__main .account__info .account__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.account .account__main .account__info .account__details .account__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.account .account__main .account__info .account__details .account__data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.account .account__main .account__info .account__details .account__data .account__name {
  font-size: 30px;
  color: #9e5df5;
}
.account .account__main .account__info .account__details .account__data .account__nickname {
  font-size: 20px;
  color: white;
}
.account .account__main .account__info .account__details .account__data .account__observe {
  color: rgba(255, 255, 255, 0.7);
}
.account .account__main .account__info .account__desc {
  color: white;
  text-align: center;
  font-weight: 400;
}
.account .account__stats {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  border-bottom: 2px solid var(--color-text);
}
.account .account__stats .account__stat {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  cursor: pointer;
}
.account .account__stats .account__stat .stat__name {
  font-size: 16px;
}
.account .account__stats .account__stat .stat__number {
  color: #9e5df5;
  font-size: 20px;
}
.account .account__options .account__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid var(--color-text);
  transition: color 0.2s;
  cursor: pointer;
}
.account .account__options .account__option:hover {
  color: #9e5df5;
}

.account.show {
  transform: translate(0%);
  box-shadow: 0px 0px 22px 16px rgb(66, 68, 90);
}

.account--nonlogged .account__main .account__info {
  position: initial;
  background-color: transparent;
}
.account--nonlogged .account__main .account__info .account__details .account__icon {
  font-size: 120px;
}
.account--nonlogged .account__main .account__info .account__desc {
  font-size: 25px;
}

@media (min-width: 768px) {
  .account {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .account {
    width: 30%;
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  z-index: 3;
}
.header .header__title {
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  color: var(--color-text);
}
.header .header__search {
  display: flex;
  position: absolute;
  width: 0%;
  height: 0%;
  left: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.header .header__search .header__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  font-size: 16px;
  border: none;
  border-left: none;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: all 0.4s;
}
.header .header__search .header__input:focus {
  outline: none;
}
.header .header__search .header__submit {
  border: none;
  background-color: var(--color-background);
  color: #9e5df5;
  padding: 0px 5px;
  transition: all 0.4s;
  cursor: pointer;
}
.header .header__search .header__icon--close {
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  color: #9e5df5;
  user-select: none;
  padding-right: 5px;
  cursor: pointer;
}
.header .header__search.show {
  width: 100%;
  height: 100%;
}
.header .icon__set {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s color;
  cursor: pointer;
}
.header .icon__set .header__icon {
  user-select: none;
  font-size: 35px;
}
.header .icon__set .icon__caption {
  font-size: 13px;
}
.header .icon__set:hover {
  color: #9e5df5;
}
.header .header__icons {
  display: flex;
  gap: 10px;
}
.header .search__results {
  position: absolute;
  top: 61px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

@media (min-width: 768px) {
  .header .icon__set--menu {
    display: none;
  }
  .header .header__search {
    display: flex;
    position: relative;
    width: 400px;
    max-width: 400px;
  }
  .header .header__search .header__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-left: 0;
    font-size: 16px;
    border: 2px solid var(--color-text);
    border-left: none;
  }
  .header .header__search .header__submit {
    border: 2px solid var(--color-text);
    border-right: none;
    color: #9e5df5;
  }
  .header .header__search .header__icon--close {
    display: none;
  }
  .header .header__icons {
    display: flex;
    gap: 10px;
  }
  .header .header__icons .icon__set--search {
    display: none;
  }
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  transform: scale(0);
  background-color: var(--color-background);
  overflow: auto;
  z-index: 3;
  transition: all 0.4s;
}
.search .search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.search .search__form .search__main {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
}
.search .search__form .search__main .search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #9e5df5;
  border-right: none;
  padding: 5px;
  color: #9e5df5;
  font-size: 25px;
  cursor: pointer;
}
.search .search__form .search__main .search__input {
  width: 100%;
  border: 1px solid #9e5df5;
  border-left: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--color-text);
}
.search .search__form .search__main .search__input:focus {
  outline: none;
}
.search .search__form .search__close {
  padding: 10px;
  background-color: transparent;
  color: var(--color-text);
  border: none;
  font-size: 17px;
  cursor: pointer;
}
.search .search__results {
  display: flex;
  flex-direction: column;
}
.search .search__results .search__result {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--color-text);
  transition: color 0.2s;
  cursor: pointer;
}
.search .search__results .search__result .result__image {
  height: 100px;
  object-fit: cover;
}
.search .search__results .search__result .result__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  padding-left: 20px;
}
.search .search__results .search__result .result__info .result__production {
  display: flex;
  flex-direction: column;
}
.search .search__results .search__result .result__info .result__production .result__name {
  font-size: 22px;
}
.search .search__results .search__result .result__info .result__production .result__year {
  color: rgba(255, 255, 255, 0.7);
}
.search .search__results .search__result .result__info .result__actors {
  color: rgba(255, 255, 255, 0.7);
}
.search .search__results .search__result:first-child {
  border-top: 1px solid var(--color-text);
}
.search .search__results .search__result:hover {
  color: #9e5df5;
}

.search.show {
  transform: scale(1);
}

@media (min-width: 768px) {
  .search {
    align-items: center;
  }
  .search .search__form {
    max-width: 768px;
    width: 100%;
  }
  .search .search__form .search__input {
    width: 100%;
  }
  .search .search__results {
    max-width: 768px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  .search .search__results .search__result {
    align-items: center;
    flex-direction: column;
    width: 150px;
    border: none;
  }
  .search .search__results .search__result .result__image {
    width: 130px;
    height: 180px;
  }
  .search .search__results .search__result .result__info {
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
  }
  .search .search__results .search__result .result__info .result__production {
    align-items: center;
  }
  .search .search__results .search__result .result__info .result__production .result__name {
    text-wrap: nowrap;
    font-size: 15px;
  }
  .search .search__results .search__result .result__info .result__actors {
    text-align: center;
  }
  .search .search__results .search__result:first-child {
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .search .search__form {
    max-width: 1090px;
  }
  .search .search__results {
    flex-wrap: nowrap;
    max-width: 1090px;
  }
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-background);
  height: 100%;
  width: 90%;
  transform: translate(-100%);
  z-index: 4;
  transition: all 0.4s;
  user-select: none;
}
.menu .menu__panel .menu__header {
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--color-text);
  font-size: 25px;
}
.menu .menu__panel .menu__header .menu__back {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  transition: all 0.2s;
}
.menu .menu__panel .menu__header .menu__back .menu__icon--back {
  font-size: 45px;
}
.menu .menu__panel .menu__header .menu__back:hover {
  color: #9e5df5;
  background-color: rgba(var(--color-textRGB), 0.2);
}
.menu .menu__panel .menu__header .menu__icon--close {
  font-size: 45px;
  transition: color 0.2s;
  cursor: pointer;
}
.menu .menu__panel .menu__header .menu__icon--close:hover {
  color: #9e5df5;
}
.menu .menu__panel .menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}
.menu .menu__panel .menu__list .list {
  font-size: 20px;
  border-bottom: 2px solid var(--color-text);
  cursor: pointer;
}
.menu .menu__panel .menu__list .list .list__unwind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  transition: color 0.2s;
}
.menu .menu__panel .menu__list .list .list__unwind:hover {
  color: #9e5df5;
}
.menu .menu__panel--sub {
  text-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0%;
  height: 0%;
  background-color: var(--color-background);
  transition: all 0.4s;
}
.menu .menu__panel--sub .menu__header {
  padding: 0;
}
.menu .menu__panel--sub.show {
  width: 100%;
  height: 100%;
}

.menu.show {
  box-shadow: 0px 0px 22px 16px rgb(66, 68, 90);
  transform: translate(0%);
}

@media (min-width: 768px) {
  .menu {
    position: relative;
    transform: translate(0%);
    background-color: transparent;
    height: fit-content;
    width: 100%;
    visibility: initial;
    z-index: 1;
  }
  .menu .menu__panel .menu__header {
    display: none;
  }
  .menu .menu__panel .menu__list {
    flex-direction: row;
    justify-content: center;
  }
  .menu .menu__panel .menu__list .list {
    position: relative;
    flex-direction: row;
    border-bottom: 2px solid transparent;
  }
  .menu .menu__panel .menu__list .list .list__unwind .menu__icon--next {
    display: none;
  }
  .menu .menu__panel .menu__list .list .menu__panel--sub {
    position: absolute;
    top: 46px;
    left: 0px;
    width: fit-content;
    height: fit-content;
    max-height: 0px;
    background-color: var(--color-background);
    overflow: hidden;
  }
  .menu .menu__panel .menu__list .list .menu__panel--sub .menu__list {
    flex-direction: column;
  }
  .menu .menu__panel .menu__list .list:hover .menu__panel--sub {
    max-height: 150px;
  }
  .menu .menu__panel .menu__list .list:hover {
    border-bottom: 2px solid #9e5df5;
  }
  .menu.show {
    box-shadow: initial;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1090px;
  gap: 20px;
}
.footer .footer__wrapper .visited {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.footer .footer__wrapper .visited .visited__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__wrapper .visited .visited__header .visited__title {
  font-size: 20px;
}
.footer .footer__wrapper .visited .visited__header .visited__clear {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  transition: color 0.2s;
  cursor: pointer;
}
.footer .footer__wrapper .visited .visited__header .visited__clear:hover {
  color: #9e5df5;
}
.footer .footer__wrapper .visited .visited__last {
  display: flex;
  gap: 10px;
  max-width: 100%;
  overflow: auto;
}
.footer .footer__wrapper .visited .visited__last .visited__image {
  width: 60px;
  transition: opacity 0.2s;
  cursor: pointer;
}
.footer .footer__wrapper .visited .visited__last .visited__image:hover {
  opacity: 0.8;
}
.footer .footer__wrapper .logos {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer .footer__wrapper .logos .logos__set {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.footer .footer__wrapper .logos .logos__set .logos__logo {
  font-size: 40px;
  transition: color 0.2s;
}
.footer .footer__wrapper .logos .logos__set:hover {
  color: #9e5df5;
}
.footer .footer__wrapper .copyright {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
  transition: all 0.4s;
}

.theme {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: var(--color-text);
  color: var(--color-background);
  font-weight: bolder;
  top: 100px;
  left: 0;
  transform: translate(0%);
  padding: 10px;
  width: fit-content;
  border-radius: 0px 25px 25px 0px;
  z-index: 2;
  user-select: none;
  transition: all 0.4s;
  cursor: pointer;
}
.theme .theme__badge {
  writing-mode: vertical-rl;
  font-size: 17px;
}

.theme:hover {
  background-color: var(--color-background);
  color: var(--color-text);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.content .image {
  position: relative;
  display: flex;
  justify-content: center;
}
.content .image .image__main {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.content .image .image__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.content .image .image__title .title__type {
  font-size: 20px;
  font-weight: 800;
  color: #9e5df5;
}
.content .image .image__title .title__name {
  font-variant: small-caps;
  font-size: 25px;
  font-weight: 800;
  color: white;
}
.content .image .image__title .title__image {
  width: 100px;
}
.content .image .image__title .image__stats {
  display: flex;
  align-items: center;
  gap: 20px;
}
.content .image .image__title .image__stats .image__rate {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .image .image__title .image__stats .image__rate .image__icon--star {
  color: #ffc107;
}
.content .image .image__title .image__stats .image__rate .image__rates {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content .image .image__title .image__stats .image__rate .image__rates .image__rating {
  font-size: 20px;
  color: white;
}
.content .image .image__title .image__stats .image__rate .image__rates .image__numbers {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.content .image .image__title .image__stats .image__year {
  color: white;
}
.content .image .image__title .image__stats .image__wantWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .image .image__title .image__stats .image__wantWatch .image__heart--icon {
  font-size: 20px;
  cursor: pointer;
}
.content .image .image__title .image__stats .image__wantWatch .image__want {
  font-size: 13px;
}
.content .image .image__title .image__stats .image__wantWatch .image__heart--icon:hover {
  font-variation-settings: "FILL" 1;
  color: #9e5df5;
}
.content .image .user__rate {
  position: absolute;
  right: 15px;
  bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
  padding: 5px;
  background-color: #9e5df5;
  transition: background-color 0.2s;
}
.content .image .user__rate .user__rating {
  font-weight: 500;
  font-size: 30px;
  color: white;
}
.content .image .user__rate .user__title {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  text-wrap: nowrap;
}
.content .image .user__rate .user__show {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.content .image .user__rate .rate {
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  height: 0px;
  overflow: hidden;
  justify-content: center;
  background-color: var(--color-background);
  transition: all 0.4s;
}
.content .image .user__rate .rate .rate__field {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  padding: 10px;
}
.content .image .user__rate .rate .rate__field .rate__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.content .image .user__rate .rate .rate__field .rate__vod {
  display: flex;
  flex-direction: column;
}
.content .image .user__rate .rate .rate__field .rate__vod .rate__star {
  display: flex;
}
.content .image .user__rate .rate .rate__field .rate__vod .rate__star .rate__icon--star {
  width: 30px;
  font-size: 35px;
  cursor: pointer;
}
.content .image .user__rate .rate .rate__field .rate__vod .rate__star .rate__icon--star.fill {
  font-variation-settings: "FILL" 1, "wght" 200;
  color: #ffc107;
}
.content .image .user__rate .rate .rate__field .rate__vod .rate__details {
  display: flex;
  justify-content: space-between;
}
.content .image .user__rate .rate .rate__field .rate__comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.content .image .user__rate .rate .rate__field .rate__comment .rate__text {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 5px;
  background-color: transparent;
  color: var(--color-text);
}
.content .image .user__rate .rate .rate__field .rate__comment .rate__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.content .image .user__rate .rate .rate__field .rate__comment .rate__sub .rate__count {
  margin-left: 5px;
}
.content .image .user__rate .rate .rate__field .rate__comment .rate__sub .rate__inputs {
  display: flex;
  gap: 5px;
}
.content .image .user__rate .rate .rate__field .rate__comment .rate__sub .rate__inputs .rate__reset {
  padding: 5px;
  background-color: transparent;
  color: var(--color-text);
  border: none;
  cursor: pointer;
}
.content .image .user__rate .rate .rate__field .rate__comment .rate__sub .rate__inputs .rate__submit {
  padding: 5px;
  margin-right: 5px;
  background-color: transparent;
  color: var(--color-text);
  border: none;
  cursor: pointer;
}
.content .image .user__rate .rate.show {
  display: flex;
  height: 265px;
}
.content .image .user__rate.show {
  background-color: rgba(158, 93, 245, 0.8);
}
.content .image .user__rate:hover {
  background-color: rgba(158, 93, 245, 0.9);
}
.content .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .info .info__all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.content .info .info__all .info__main {
  display: flex;
  gap: 20px;
}
.content .info .info__all .info__main .info__image {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
.content .info .info__all .info__main .info__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content .info .info__all .info__main .info__details .info__desc {
  font-size: 18px;
}
.content .info .info__all .info__main .info__details .info__seasons {
  display: flex;
  gap: 10px;
  overflow: auto;
  width: 100%;
  max-width: 230px;
  padding-bottom: 10px;
}
.content .info .info__all .info__main .info__details .info__seasons .info__season {
  color: var(--color-text);
  border: 2px solid var(--color-text);
  padding: 5px;
  font-size: 14px;
  text-wrap: nowrap;
}
.content .info .info__all .info__production {
  display: grid;
  justify-items: start;
  justify-content: start;
  grid-template-columns: 100px 100px;
  column-gap: 30px;
  row-gap: 5px;
}
.content .info .info__all .info__production .info__genre {
  font-weight: 600;
  font-size: 20px;
}
.content .episodes {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
  width: 100%;
  max-width: 1090px;
}
.content .episodes .episodes__title {
  margin-bottom: 20px;
  font-size: 30px;
  align-self: center;
}
.content .episodes .episode {
  display: grid;
  grid-template-columns: 150px 1fr;
  min-height: 160px;
  max-height: 160px;
  max-width: 600px;
  margin: 10px;
  border: 2px solid var(--color-text);
  overflow: hidden;
}
.content .episodes .episode .episode__image {
  width: 150px;
  height: 100%;
  object-fit: cover;
}
.content .episodes .episode .episode__info {
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  gap: 10px;
  padding: 5px;
}
.content .episodes .episode .episode__info .episode__name {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 20px;
  padding: 10px;
}
.content .episodes .episode .episode__info .episode__number {
  justify-self: center;
  align-self: center;
  font-size: 25px;
  color: #9e5df5;
}
.content .episodes .episode .episode__info .episode__rate {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: end;
  padding-right: 20px;
}
.content .episodes .episode .episode__info .episode__rate .episode__icon--star {
  color: #ffc107;
}
.content .gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 20px;
}
.content .gallery .gallery__title {
  padding-left: 30px;
}
.content .gallery .gallery__images {
  display: flex;
  padding-bottom: 10px;
  gap: 10px;
  max-width: 400px;
  overflow-x: scroll;
}
.content .gallery .gallery__images .gallery__image {
  min-width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}
.content .gallery .gallery__more {
  color: var(--color-text);
  border: 2px solid var(--color-text);
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.content .trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--color-text);
  width: 100%;
  padding: 20px;
}
.content .trailer .trailer__title {
  font-size: 30px;
  color: var(--color-background);
}
.content .trailer .trailer__film {
  max-width: 800px;
  width: 100%;
  height: 400px;
}
.content .cast {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(var(--color-textRGB), 0.2);
}
.content .cast .cast__title {
  font-size: 30px;
  color: var(--color-text);
}
.content .cast .actors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.content .cast .actors .actor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: color 0.2s;
  cursor: pointer;
}
.content .cast .actors .actor .actor__image {
  width: 100%;
  object-fit: cover;
}
.content .cast .actors .actor .actor__info {
  color: rgba(var(--color-textRGB), 0.8);
  transition: color 0.2s;
}
.content .cast .actors .actor .actor__info--role {
  padding-top: 10px;
}
.content .cast .actors .actor .actor__info--link {
  text-align: center;
}
.content .cast .actors .actor .actor__info--link:hover {
  color: #9e5df5;
}
.content .cast .actors .actor:hover .actor__info--link {
  color: #9e5df5;
}
.content .cast .cast__more {
  color: var(--color-text);
  border: 2px solid var(--color-text);
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.content .rates {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1090px;
}
.content .rates .critics {
  display: flex;
  flex-direction: column;
}
.content .rates .critics .critics__title {
  font-size: 30px;
  align-self: center;
}
.content .rates .critics .critics__opinions {
  display: flex;
  gap: 10px;
  padding: 20px;
  overflow: auto;
}
.content .rates .critics .critics__opinions .critic__opinion {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 325px;
  border: 2px solid var(--color-text);
  border-radius: 5px;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__header {
  display: flex;
  gap: 10px;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__header .critic__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #9e5df5;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__header .critic__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__header .critic__info .critic__name {
  cursor: pointer;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__header .critic__info .critic__name:hover {
  color: #9e5df5;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__header .critic__info .critic__sub {
  font-size: 12px;
  color: rgba(var(--color-textRGB) 0.5);
}
.content .rates .critics .critics__opinions .critic__opinion .critic__header .critic__info .critic__observe {
  padding: 5px;
  background-color: #9e5df5;
  border: none;
  border-radius: 5px;
  width: fit-content;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__rate {
  display: flex;
  align-items: center;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__rate .critic__number {
  font-size: 25px;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__rate .critic__stars {
  display: flex;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__rate .critic__stars .critic__icon--star {
  width: 22px;
  font-size: 30px;
  cursor: default;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__rate .critic__stars .critic__icon--star.fill {
  font-variation-settings: "FILL" 1, "wght" 300;
  color: #ffc107;
}
.content .rates .critics .critics__opinions .critic__opinion .critic__desc {
  max-width: 300px;
  font-size: 15px;
}
.content .rates .users__opinions {
  display: flex;
  flex-direction: column;
}
.content .rates .users__opinions .opinions__title {
  font-size: 30px;
  align-self: center;
}
.content .rates .users__opinions .opinions {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  gap: 20px;
  padding: 20px;
}
.content .rates .users__opinions .opinions .opinion {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(var(--color-textRGB), 0.2);
  max-width: 600px;
}
.content .rates .users__opinions .opinions .opinion .opinion__header {
  display: flex;
  gap: 10px;
}
.content .rates .users__opinions .opinions .opinion .opinion__header .opinion__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.content .rates .users__opinions .opinions .opinion .opinion__header .opinion__user {
  display: flex;
  flex-direction: column;
}
.content .rates .users__opinions .opinions .opinion .opinion__header .opinion__user .opinion__userInfo {
  display: flex;
  gap: 10px;
}
.content .rates .users__opinions .opinions .opinion .opinion__header .opinion__user .opinion__userInfo .opinion__name {
  font-size: 17px;
}
.content .rates .users__opinions .opinions .opinion .opinion__header .opinion__user .opinion__userInfo .opinion__date {
  color: #9e5df5;
  font-size: 15px;
}
.content .rates .users__opinions .opinions .opinion .opinion__header .opinion__rate {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgba(var(--color-textRGB), 0.6);
}
.content .rates .users__opinions .opinions .opinion .opinion__header .opinion__rate .rate__icon--star {
  font-variation-settings: "FILL" 1, "wght" 200;
  color: #ffc107;
}
.content .rates .users__opinions .opinions .opinion__likes {
  display: flex;
  justify-content: space-between;
}
.content .rates .users__opinions .opinions .opinion__likes .opinion__rateLikes {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .rates .users__opinions .opinions .opinion__likes .opinion__rateLikes .opinion__like--icon {
  cursor: pointer;
}
.content .rates .users__opinions .opinions .opinion__likes .opinion__rateLikes .opinion__like--icon:hover {
  font-variation-settings: "FILL" 1, "wght" 300;
  color: #9e5df5;
}
.content .rates .users__opinions .opinions .opinion__likes .opinion__rateLikes .opinion__likesCounter {
  cursor: default;
}
.content .rates .users__opinions .opinions .opinion__likes .opinion__reply {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}
.content .rates .users__opinions .opinions .opinion__likes .opinion__reply:hover {
  color: #9e5df5;
}

@media (min-width: 768px) {
  .content .info .info__all {
    width: 100%;
    flex-direction: row;
  }
  .content .info .info__all .info__main .info__image {
    width: 150px;
    height: 200px;
  }
  .content .info .info__all .info__main .info__details .info__seasons {
    max-width: 300px !important;
  }
  .content .cast .actors .actor .actor__image {
    width: 150px !important;
    height: initial !important;
  }
}
@media (min-width: 1200px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content .image {
    width: 1090px;
  }
  .content .image .image__main {
    width: 100%;
    height: 400px;
  }
  .content .info .info__all {
    flex-direction: row;
    width: 1090px;
  }
  .content .info .info__all .info__main .info__details .info__seasons {
    max-width: 620px !important;
  }
  .content .cast .actors {
    grid-template-columns: repeat(6, 1fr) !important;
    max-width: 1090px !important;
  }
  .content .gallery .gallery__images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    max-width: initial;
  }
  .content .gallery .gallery__images .gallery__image {
    object-fit: cover;
    transition: transform 0.4s;
  }
  .content .gallery .gallery__images .gallery__image:hover {
    transform: scale(1.05);
  }
  .content .gallery .gallery__images .gallery__image--square {
    max-width: 120px;
  }
  .content .gallery .gallery__images .gallery__image--main {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    width: 100%;
    max-width: 470px;
    height: 310px;
  }
  .content .gallery .gallery__images .gallery__image--secondary {
    grid-column: 4/span 2;
    grid-row: 1/span 2;
    width: 100%;
    max-width: 310px;
    height: 310px;
  }
  .content .gallery .gallery__images .gallery__image--widther {
    grid-column: 1/span 2;
    width: 100%;
  }
  .content .gallery .gallery__images .gallery__image--last {
    grid-column: 4/span 2;
    width: 100%;
  }
}/*# sourceMappingURL=details.css.map */