@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,700;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: all 0.4s;
}

.theme {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: var(--color-text);
  color: var(--color-background);
  font-weight: bolder;
  top: 100px;
  left: 0;
  transform: translate(0%);
  padding: 10px;
  width: fit-content;
  border-radius: 0px 25px 25px 0px;
  z-index: 2;
  user-select: none;
  transition: all 0.4s;
  cursor: pointer;
}
.theme .theme__badge {
  writing-mode: vertical-rl;
  font-size: 17px;
}

.theme:hover {
  background-color: var(--color-background);
  color: var(--color-text);
}

html[data-theme=dark] {
  --color-background: #0F0F0F;
  --color-text: white;
  --color-textRGB: 255, 255, 255;
  --color-backgroundRGB: 15, 15, 15;
}

html[data-theme=light] {
  --color-background: white;
  --color-text: #0F0F0F;
  --color-backgroundrRGB: 255, 255, 255;
  --color-textRGB: 15, 15, 15;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  z-index: 1;
}
.header .header__title {
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  color: var(--color-text);
}
.header .header__search {
  display: flex;
  position: absolute;
  width: 0%;
  height: 0%;
  left: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.header .header__search .header__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  font-size: 16px;
  border: none;
  border-left: none;
  background-color: var(--color-background);
  color: var(--color-text);
}
.header .header__search .header__input:focus {
  outline: none;
}
.header .header__search .header__submit {
  border: none;
  background-color: var(--color-background);
  color: #9E5DF5;
  cursor: pointer;
}
.header .header__search .header__icon--close {
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  color: #9E5DF5;
  user-select: none;
  padding-right: 5px;
  cursor: pointer;
}
.header .header__search.show {
  width: 100%;
  height: 100%;
}
.header .icon__set {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s color;
  cursor: pointer;
}
.header .icon__set .header__icon {
  user-select: none;
  font-size: 35px;
}
.header .icon__set .icon__caption {
  font-size: 13px;
}
.header .icon__set:hover {
  color: #9E5DF5;
}
.header .header__icons {
  display: flex;
  gap: 10px;
}

@media (min-width: 768px) {
  .header .icon__set--menu {
    display: none;
  }
  .header .header__search {
    display: flex;
    position: relative;
    width: 400px;
    max-width: 400px;
  }
  .header .header__search .header__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-left: 0;
    font-size: 16px;
    border: 2px solid var(--color-text);
    border-left: none;
  }
  .header .header__search .header__submit {
    border: 2px solid var(--color-text);
    border-right: none;
    background-color: transparent;
    color: #9E5DF5;
  }
  .header .header__search .header__icon--close {
    display: none;
  }
  .header .header__icons {
    display: flex;
    gap: 10px;
  }
  .header .header__icons .icon__set--search {
    display: none;
  }
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-background);
  height: 100%;
  width: 90%;
  transform: translate(-100%);
  z-index: 2;
  transition: all 0.4s;
  user-select: none;
}
.menu .menu__panel .menu__header {
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--color-text);
  font-size: 25px;
}
.menu .menu__panel .menu__header .menu__back {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  transition: all 0.2s;
}
.menu .menu__panel .menu__header .menu__back .menu__icon--back {
  font-size: 45px;
}
.menu .menu__panel .menu__header .menu__back:hover {
  color: #9E5DF5;
  background-color: rgba(var(--color-textRGB), 0.2);
}
.menu .menu__panel .menu__header .menu__icon--close {
  font-size: 45px;
  transition: color 0.2s;
  cursor: pointer;
}
.menu .menu__panel .menu__header .menu__icon--close:hover {
  color: #9E5DF5;
}
.menu .menu__panel .menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}
.menu .menu__panel .menu__list .list {
  font-size: 20px;
  border-bottom: 2px solid var(--color-text);
  cursor: pointer;
}
.menu .menu__panel .menu__list .list .list__unwind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  transition: color 0.2s;
}
.menu .menu__panel .menu__list .list .list__unwind:hover {
  color: #9E5DF5;
}
.menu .menu__panel--sub {
  text-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0%;
  height: 0%;
  background-color: var(--color-background);
  transition: all 0.4s;
}
.menu .menu__panel--sub .menu__header {
  padding: 0;
}
.menu .menu__panel--sub.show {
  width: 100%;
  height: 100%;
}

.menu.show {
  box-shadow: 0px 0px 22px 16px rgb(66, 68, 90);
  transform: translate(0%);
}

@media (min-width: 768px) {
  .menu {
    position: relative;
    transform: translate(0%);
    background-color: transparent;
    height: fit-content;
    width: 100%;
    visibility: initial;
    z-index: 1;
  }
  .menu .menu__panel .menu__header {
    display: none;
  }
  .menu .menu__panel .menu__list {
    flex-direction: row;
    justify-content: center;
  }
  .menu .menu__panel .menu__list .list {
    position: relative;
    flex-direction: row;
    border-bottom: 2px solid transparent;
  }
  .menu .menu__panel .menu__list .list .list__unwind .menu__icon--next {
    display: none;
  }
  .menu .menu__panel .menu__list .list .menu__panel--sub {
    position: absolute;
    top: 46px;
    left: 0px;
    width: fit-content;
    height: fit-content;
    max-height: 0px;
    background-color: var(--color-background);
    overflow: hidden;
  }
  .menu .menu__panel .menu__list .list .menu__panel--sub .menu__list {
    flex-direction: column;
  }
  .menu .menu__panel .menu__list .list:hover .menu__panel--sub {
    max-height: 150px;
  }
  .menu .menu__panel .menu__list .list:hover {
    border-bottom: 2px solid #9E5DF5;
  }
  .menu.show {
    box-shadow: initial;
  }
}
body {
  height: 200vh;
}

.content .articles .article {
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.content .articles .article .article__image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  transition: transform 0.2s;
}
.content .articles .article .article__content {
  display: grid;
  position: absolute;
  bottom: 0px;
  padding: 15px;
  width: 100%;
  background-color: black;
  transition: color 0.2s;
}
.content .articles .article .article__content .article__title {
  font-size: 18px;
  color: white;
  transition: color 0.2s;
}
.content .articles .article .article__content .article__time {
  justify-self: end;
  align-self: end;
  color: #d4d4d4;
  font-size: 14px;
  transition: color 0.2s;
}
.content .articles .article:hover .article__image {
  transform: scale(1.1);
}
.content .articles .article:hover .article__title {
  color: #9E5DF5;
}
.content .articles .article:hover .article__time {
  color: #9E5DF5;
}
.content .articles .articles__secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
.content .articles .articles__secondary .article--secondary {
  display: flex;
  flex-direction: column;
}
.content .articles .articles__secondary .article--secondary .article__content {
  position: relative;
  background-color: black;
}
.content .articles .article--widther {
  grid-column-start: 1;
  grid-column-end: 3;
}
.content .articles .article--widther .article__image {
  height: 200px;
}
.content .articles .articles__bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-top: 0;
}
.content .articles .articles__bottom .article--bottom {
  display: flex;
}
.content .articles .articles__bottom .article--bottom .article__image {
  width: 40%;
}
.content .articles .articles__bottom .article--bottom .article__content {
  position: relative;
}

@media (min-width: 768px) {
  .content .articles {
    position: relative;
  }
  .content .articles .articles__secondary {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .content .articles .articles__secondary .article--secondary {
    grid-column-start: initial;
    grid-column-end: initial;
  }
  .content .articles .articles__secondary .article--secondary .article__image {
    height: 100%;
  }
  .content .articles .articles__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .content {
    padding: 20px;
  }
  .content .articles {
    display: grid;
    grid-template-columns: 600px 500px;
    justify-content: center;
    gap: 10px;
  }
  .content .articles .articles__secondary {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
  .content .articles .articles__secondary .article--secondary {
    flex-direction: row !important;
    width: 100%;
    height: 100%;
  }
  .content .articles .articles__secondary .article--secondary .article__image {
    width: 40%;
  }
  .content .articles .articles__secondary .article--secondary .article__content {
    display: grid;
  }
  .content .articles .articles__secondary .article--secondary .article__content .article__time {
    justify-self: end;
    align-self: end;
  }
  .content .articles .articles__secondary .article--widther .article__image {
    height: initial;
  }
  .content .articles .articles__bottom {
    display: flex;
    flex-direction: row;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 10px;
  }
  .content .articles .articles__bottom .article--bottom .article__image {
    width: 100%;
  }
  .content .articles .articles__bottom .article--bottom .article__content {
    position: absolute;
  }
}/*# sourceMappingURL=index.css.map */