.account {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  height: 100%;
  width: 100%;
  right: 0;
  transform: translate(100%);
  z-index: 5;
  transition: all 0.4s;

  .account__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    .account__icon--close {
      font-size: 45px;
      transition: color 0.2s;
      cursor: pointer;
    }
    .account__icon--close:hover {
      color: $secondory-color;
    }
  }
  .account__main {
    position: relative;
    .account__background {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .account__info {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      background-color: rgba(black, 0.6);
      padding: 30px;
      width: 100%;
      height: 100%;
      .account__details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .account__avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
        }
        .account__data {
          display: flex;
          flex-direction: column;

          gap: 5px;
          .account__name {
            font-size: 30px;
            color: $secondory-color;
          }
          .account__nickname {
            font-size: 20px;
            color: white;
          }
          .account__observe {
            color: rgba(white, 0.7);
          }
        }
      }
      .account__desc {
        color: white;
        text-align: center;
        font-weight: 400;
      }
    }
  }
  .account__stats {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    border-bottom: 2px solid var(--color-text);
    .account__stat {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      cursor: pointer;
      .stat__name {
        font-size: 16px;
      }
      .stat__number {
        color: $secondory-color;
        font-size: 20px;
      }
    }
  }
  .account__options {
    list-style-type: none;
    .account__option {
      width: 100%;
      border-bottom: 2px solid var(--color-text);

      .account__category {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        transition: color 0.2s;
        cursor: pointer;
      }
      .account__category:hover {
        color: $secondory-color;
      }
      .login__unwind {
        position: absolute;
        top: 0;
        background-color: var(--color-background);
        height: 100%;
        width: 0%;
        overflow: hidden;
        transition: width 0.4s;
        .login__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
          text-wrap: nowrap;
          font-size: 25px;

          .login__back {
            display: flex;
            gap: 5px;
            width: 100%;
            padding: 10px;
            transition: all 0.2s;
            cursor: pointer;
            .login__icon--back {
              font-size: 45px;
            }
          }
          .login__back:hover {
            color: $secondory-color;
            background-color: rgba(var(--color-textRGB), 0.2);
          }

          .login__icon--close {
            padding: 10px;
            font-size: 45px;
            transition: color 0.2s;
            cursor: pointer;
          }
          .login__icon--close:hover {
            color: $secondory-color;
          }
        }
        .login__form {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: nowrap;
          gap: 10px;
          height: 100%;
          margin-top: 50px;

          .login__data {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .login__label {
              font-size: 18px;
            }
            .login__input {
              height: 50px;
              width: 300px;
              align-self: center;
              background-color: transparent;
              color: var(--color-text);
              padding: 10px;
              padding-bottom: 0;
              font-size: 20px;
              border: none;
            }

            .login__input:focus {
              outline: none;
            }
          }
          .login__data:after {
            content: '';
            position: relative;
            bottom: 0px;
            height: 2px;
            background: linear-gradient(to left, var(--color-text) 50%, $secondory-color 50%) right;
            background-size: 200% 100%;
            transition: background 0.4s;
          }
          .login__data.focus:after {
            background-position: left;
          }
          .login__submit {
            margin-top: 5px;
            background-color: transparent;
            color: var(--color-text);
            padding: 10px;
            font-size: 18px;
            border: 2px solid var(--color-text);
            cursor: pointer;
          }
        }
      }
      .login__unwind.show {
        width: 100%;
      }
    }
  }
}
.account.show {
  transform: translate(0%);
  box-shadow: 0px 0px 22px 16px rgba(66, 68, 90, 1);
}

.account--nonlogged {
  .account__main {
    .account__info {
      position: initial;
      background-color: transparent;
      .account__details {
        .account__icon {
          font-size: 120px;
        }
      }
      .account__desc {
        font-size: 25px;
      }
    }
  }
}

@media (min-width: 768px) {
  .account {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .account {
    width: 30%;
  }
}
