
$main-color: #5E7FF5;
$secondory-color:#9E5DF5;
$accent-color:#5DDEF5;

html[data-theme=dark] {
    --color-background: #{#0F0F0F};
    --color-text: #{white};
    --color-textRGB: #{255,255,255};
    --color-backgroundRGB: #{15, 15, 15};
}
html[data-theme=light] {
    --color-background: #{white};
    --color-text: #{#0F0F0F};
    --color-backgroundrRGB: #{255,255,255};
    --color-textRGB: #{15, 15, 15};
}
