$main-color: #5e7ff5;
$secondory-color: #9e5df5;
$accent-color: #5ddef5;

html[data-theme='dark'] {
  --color-background: #{#0f0f0f};
  --color-text: #{white};
  --color-textRGB: #{255, 255, 255};
  --color-backgroundRGB: #{15, 15, 15};
}
html[data-theme='light'] {
  --color-background: #{white};
  --color-text: #{#0f0f0f};
  --color-backgroundrRGB: #{255, 255, 255};
  --color-textRGB: #{15, 15, 15};
}
