@import 'assets/variables';
@import 'assets/account-panel';
@import 'assets/header';
@import 'assets/search';
@import 'assets/nav';
@import 'assets/footer';
@import 'assets/layout';

.content {
  .image {
    position: relative;
    display: flex;
    justify-content: center;

    .image__main {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .image__title {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: rgba(black, 0.6);
      width: 100%;
      .title__type {
        font-size: 20px;
        font-weight: 800;
        color: $secondory-color;
      }
      .title__name {
        font-variant: small-caps;
        font-size: 25px;
        font-weight: 800;
        color: white;
      }
      .title__image {
        width: 100px;
      }
      .image__stats {
        display: flex;
        align-items: center;
        gap: 20px;

        .image__rate {
          display: flex;
          align-items: center;
          gap: 5px;
          .image__icon--star {
            color: #ffc107;
          }
          .image__rates {
            display: flex;
            align-items: center;
            flex-direction: column;
            .image__rating {
              font-size: 20px;
              color: white;
            }
            .image__numbers {
              font-size: 12px;
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
        .image__year {
          color: white;
        }
        .image__wantWatch {
          display: flex;
          flex-direction: column;
          align-items: center;
          .image__heart--icon {
            font-size: 20px;
            cursor: pointer;
          }
          .image__want {
            font-size: 13px;
          }
          .image__heart--icon:hover {
            font-variation-settings: 'FILL' 1;
            color: $secondory-color;
          }
        }
      }
    }
    .user__rate {
      position: absolute;
      right: 15px;
      bottom: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50% 50% 0 0;
      padding: 5px;
      background-color: $secondory-color;
      transition: background-color 0.2s;
      .user__rating {
        font-weight: 500;
        font-size: 30px;
        color: white;
      }
      .user__title {
        font-size: 12px;
        color: rgba(white, 0.9);
        text-wrap: nowrap;
      }
      .user__show {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .rate {
        position: absolute;
        right: 0;
        top: 70px;
        display: flex;
        height: 0px;
        overflow: hidden;
        justify-content: center;
        background-color: var(--color-background);
        transition: all 0.4s;
        .rate__field {
          display: grid;
          grid-template-columns: 50px 1fr;
          gap: 10px;
          padding: 10px;
          .rate__image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
          .rate__vod {
            display: flex;
            flex-direction: column;

            .rate__star {
              display: flex;
              .rate__icon--star {
                width: 30px;
                font-size: 35px;
                cursor: pointer;
              }
              .rate__icon--star.fill {
                font-variation-settings: 'FILL' 1, 'wght' 200;
                color: #ffc107;
              }
            }
            .rate__details {
              display: flex;
              justify-content: space-between;
            }
          }
          .rate__comment {
            display: flex;
            flex-direction: column;
            gap: 5px;
            grid-column-start: 1;
            grid-column-end: 3;
            .rate__text {
              width: 100%;
              height: 100px;
              resize: none;
              padding: 5px;
              background-color: transparent;
              color: var(--color-text);
            }
            .rate__sub {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 5px;
              margin-top: 5px;
              .rate__count {
                margin-left: 5px;
              }
              .rate__inputs {
                display: flex;
                gap: 5px;
                .rate__reset {
                  padding: 5px;
                  background-color: transparent;
                  color: var(--color-text);
                  border: none;
                  cursor: pointer;
                }
                .rate__submit {
                  padding: 5px;
                  margin-right: 5px;
                  background-color: transparent;
                  color: var(--color-text);
                  border: none;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .rate.show {
        display: flex;
        height: 265px;
      }
    }
    .user__rate.show {
      background-color: rgba($secondory-color, 0.8);
    }
    .user__rate:hover {
      background-color: rgba($secondory-color, 0.9);
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .info__all {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      .info__main {
        display: flex;
        gap: 20px;

        .info__image {
          width: 100px;
          height: 150px;
          object-fit: cover;
        }
        .info__details {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .info__desc {
            font-size: 18px;
          }
          .info__seasons {
            display: flex;
            gap: 10px;
            overflow: auto;
            width: 100%;
            max-width: 230px;
            padding-bottom: 10px;
            .info__season {
              color: var(--color-text);
              border: 2px solid var(--color-text);
              padding: 5px;
              font-size: 14px;
              text-wrap: nowrap;
            }
          }
        }
      }
      .info__production {
        display: grid;
        justify-items: start;
        justify-content: start;
        grid-template-columns: 100px 100px;
        column-gap: 30px;
        row-gap: 5px;
        .info__genre {
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
  .episodes {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    width: 100%;
    max-width: 1090px;
    .episodes__title {
      margin-bottom: 20px;
      font-size: 30px;
      align-self: center;
    }
    .episode {
      display: grid;
      grid-template-columns: 150px 1fr;
      min-height: 160px;
      max-height: 160px;
      max-width: 600px;
      margin: 10px;
      border: 2px solid var(--color-text);
      overflow: hidden;
      .episode__image {
        width: 150px;
        height: 100%;
        object-fit: cover;
      }
      .episode__info {
        display: grid;
        grid-template-rows: 30px 1fr 30px;
        gap: 10px;
        padding: 5px;
        .episode__name {
          text-align: center;
          align-self: center;
          justify-self: center;
          font-size: 20px;
          padding: 10px;
        }
        .episode__number {
          justify-self: center;
          align-self: center;
          font-size: 25px;
          color: $secondory-color;
        }
        .episode__rate {
          display: flex;
          align-items: center;
          gap: 5px;
          justify-self: end;
          padding-right: 20px;
          .episode__icon--star {
            color: #ffc107;
          }
        }
      }
    }
  }
  .gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 20px;

    .gallery__title {
      padding-left: 30px;
    }
    .gallery__images {
      display: flex;
      padding-bottom: 10px;
      gap: 10px;
      max-width: 400px;
      overflow-x: scroll;
      .gallery__image {
        min-width: 150px;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
      }
    }
    .gallery__more {
      color: var(--color-text);
      border: 2px solid var(--color-text);
      padding: 10px;
      transition: all 0.4s;
      cursor: pointer;
    }
  }
  .trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-text);
    width: 100%;
    padding: 20px;
    // margin: 20px;
    .trailer__title {
      font-size: 30px;
      color: var(--color-background);
    }
    .trailer__film {
      max-width: 800px;
      width: 100%;
      height: 400px;
    }
  }
  .cast {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(var(--color-textRGB), 0.2);
    .cast__title {
      font-size: 30px;
      color: var(--color-text);
    }
    .actors {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .actor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        transition: color 0.2s;
        cursor: pointer;
        .actor__image {
          width: 100%;
          object-fit: cover;
        }
        .actor__info {
          color: rgba(var(--color-textRGB), 0.8);
          transition: color 0.2s;
        }
        .actor__info--role {
          padding-top: 10px;
        }
        .actor__info--link {
          text-align: center;
        }
        .actor__info--link:hover {
          color: $secondory-color;
        }
      }
      .actor:hover .actor__info--link {
        color: $secondory-color;
      }
    }
    .cast__more {
      color: var(--color-text);
      border: 2px solid var(--color-text);
      padding: 10px;
      transition: all 0.4s;
      cursor: pointer;
    }
  }
  .rates {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 1090px;
    .critics {
      display: flex;
      flex-direction: column;
      .critics__title {
        font-size: 30px;
        align-self: center;
      }
      .critics__opinions {
        display: flex;
        gap: 10px;
        padding: 20px;
        overflow: auto;
        .critic__opinion {
          display: flex;
          flex-direction: column;
          padding: 10px;
          min-width: 325px;
          border: 2px solid var(--color-text);
          border-radius: 5px;
          .critic__header {
            display: flex;
            gap: 10px;
            .critic__image {
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 50%;
              border: 2px solid $secondory-color;
            }
            .critic__info {
              display: flex;
              flex-direction: column;
              gap: 2px;
              .critic__name {
                cursor: pointer;
              }
              .critic__name:hover {
                color: $secondory-color;
              }
              .critic__sub {
                font-size: 12px;
                color: rgba(var(--color-textRGB) 0.5);
              }
              .critic__observe {
                padding: 5px;
                background-color: #9e5df5;
                border: none;
                border-radius: 5px;
                width: fit-content;
                color: white;
                cursor: pointer;
                transition: background-color 0.2s;
              }
            }
          }
          .critic__rate {
            display: flex;
            align-items: center;
            .critic__number {
              font-size: 25px;
            }
            .critic__stars {
              display: flex;

              .critic__icon--star {
                width: 22px;
                font-size: 30px;
                cursor: default;
              }
              .critic__icon--star.fill {
                font-variation-settings: 'FILL' 1, 'wght' 300;
                color: #ffc107;
              }
            }
          }
          .critic__desc {
            max-width: 300px;
            font-size: 15px;
          }
        }
      }
    }
    .users__opinions {
      display: flex;
      flex-direction: column;
      .opinions__title {
        font-size: 30px;
        align-self: center;
      }
      .opinions {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
        gap: 20px;
        padding: 20px;
        .opinion {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-bottom: 10px;
          border-bottom: 2px solid rgba(var(--color-textRGB), 0.2);
          max-width: 600px;
          .opinion__header {
            display: flex;
            gap: 10px;

            .opinion__image {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
            .opinion__user {
              display: flex;
              flex-direction: column;
              .opinion__userInfo {
                display: flex;
                gap: 10px;
                .opinion__name {
                  font-size: 17px;
                }
                .opinion__date {
                  color: $secondory-color;
                  font-size: 15px;
                }
              }
            }
            .opinion__rate {
              display: flex;
              align-items: center;
              font-size: 15px;
              color: rgba(var(--color-textRGB), 0.6);
              .rate__icon--star {
                font-variation-settings: 'FILL' 1, 'wght' 200;
                color: #ffc107;
              }
            }
          }
        }
        .opinion__likes {
          display: flex;
          justify-content: space-between;

          .opinion__rateLikes {
            display: flex;
            align-items: center;
            gap: 5px;
            .opinion__like--icon {
              cursor: pointer;
            }
            .opinion__like--icon:hover {
              font-variation-settings: 'FILL' 1, 'wght' 300;
              color: $secondory-color;
            }
            .opinion__likesCounter {
              cursor: default;
            }
          }
          .opinion__reply {
            background-color: transparent;
            border: none;
            color: var(--color-text);
            font-size: 16px;
            margin-right: 5px;
            cursor: pointer;
          }
          .opinion__reply:hover {
            color: $secondory-color;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .content {
    .info {
      .info__all {
        width: 100%;
        flex-direction: row;
        .info__main {
          .info__image {
            width: 150px;
            height: 200px;
          }
          .info__details {
            .info__seasons {
              max-width: 300px !important;
            }
          }
        }
      }
    }

    .cast {
      .actors {
        .actor {
          .actor__image {
            width: 150px !important;
            height: initial !important;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      width: 1090px;
      .image__main {
        width: 100%;
        height: 400px;
      }
    }
    .info {
      .info__all {
        flex-direction: row;
        width: 1090px;
        .info__main {
          .info__details {
            .info__seasons {
              max-width: 620px !important;
            }
          }
        }
      }
    }
    .cast {
      .actors {
        grid-template-columns: repeat(6, 1fr) !important;
        max-width: 1090px !important;
      }
    }
    .gallery {
      .gallery__images {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        overflow: hidden;
        max-width: initial;
        .gallery__image {
          object-fit: cover;
          transition: transform 0.4s;
        }
        .gallery__image:hover {
          transform: scale(1.05);
        }
        .gallery__image--square {
          max-width: 120px;
        }
        .gallery__image--main {
          grid-column: 1 / span 3;
          grid-row: 1 / span 2;
          width: 100%;
          max-width: 470px;
          height: 310px;
        }
        .gallery__image--secondary {
          grid-column: 4 / span 2;
          grid-row: 1 / span 2;
          width: 100%;
          max-width: 310px;
          height: 310px;
        }
        .gallery__image--widther {
          grid-column: 1 / span 2;
          width: 100%;
        }
        .gallery__image--last {
          grid-column: 4 / span 2;
          width: 100%;
        }
      }
    }
  }
}
